header{
    padding: 0;
    background-color: #325C6C;
    color: #ffffff;
    padding-top: 2px;
    border: solid black;
    margin: 5px;
}
h1{
    text-align: center;
}
form{
    margin: 0 auto;
    width: 400px;
    background-color: rgb(247,243,243 );
    padding: 20px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
}

label{
    font-size: 20px;
}

h2{
    text-align: center;
    margin: 5px;
}

input{
    border-radius: 5px;
    border: solid rgb(92, 86, 86);
    width: 370px;
    height: 30px;
}

.inputNombre{
    width: 177px;
}

.input2{
    width: 37px;
    background-color: #C7DCDD;
}

.btnFile{
    width: 100px;
    display: none;
}
.btn1File {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.input3{
    width: 324px;
}

p{
    margin: 4px;
}
.p1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border-radius: 15px;
    width: 90px;
    height: 40px;
    background-color: #C7DCDD;  
}
.btn:hover{
    background-color: #6A9A9E;
    color: white;
}
.img1{
    width: 90px;
    height: 90px;
    padding: 10px;
    border-radius: 60px;
}
.btn1{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: solid black;
    background-color: #325C6C;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    left: 1050px;
    top: 400px;
}

.btn1:hover{
    background-color: #9BC6BF;
    color: black;
}

.img2{
    position: absolute;
    left: 1050px;
    top: 200px;
    width: 200px;
}

.check{
    position: absolute;
    left: 1025px;
    top: 460px;
    width: 15px;
}

.term{
    position: absolute;
    font-size: 15px;
    left: 1050px;
    top: 470px;

}

footer{
    background-color: #325C6C;
    color: #ffffff;
    display: flex;
    justify-content: center;
    border: solid black;
}

.divfooter{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.mapa{
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border: solid black;
    background-color: #C7DCDD;
    color: black;
    margin-top: 10px;
}

a{
    color: #ffffff;
}

/* Extras pantalla inicio de sesion */

.form1{
    height: 340px;
    padding: 50px;
}

.label2{
    font-size: 25px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;

}

.inputP2{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn2{
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: solid black;
    background-color: #325C6C;
    font-size: 20px;
    color: #ffffff;
    margin-left: 110px;
    margin-top: 20px;
}

.btn2:hover:hover{
    background-color: #9BC6BF;
    color: black;
}

.a2{
    color: black;
    display: flex;
    justify-content: center;
}

/* pantalla access php */

.btn15{
    padding-right: 150px;
    background-color: #325C6C;
    border-style: hidden;
    
}

.imgIndex{
    width: 30px;
    height: 30px;
}

.dropDown{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.ul1{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    background-color: #325C6C;
}

ul li{
    display: inline-block;
    position:relative;
}

ul li .aIndex{
    display: block;
    padding: 30px 25px;
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
}


ul li ul.dropDown{
    display: block;
}

ul li ul.dropDown{
    width: 100%;
    background-color: #325C6C;
    position: absolute;
    display: none;
}

ul li .aIndex:hover {
    background: #325C6C;

}
ul li:hover ul.dropDown{
 display: block;
}

.btn16{
    border-radius: 5px;
}

.headerIndex{
    display: flex;
    align-items: center;
}

.divIndex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 350px;
   
}
.imgIndex2{
    width: 20px;
    height: 25px;
}

.divIndex2{
    padding-left: 320px;
}

.aIndex2{
    margin: 10px;
    font-size: 17px;
}

.h2Index{
    text-align: left;
    margin-left: 40px;
}

.divIndex3{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.imgIndex3{
    width: 150px;
    height: 150px;
    border: solid 2px;
    margin-left: 10px;
    margin-top: 10px;
}
.divIndex4{
    margin: 5px;
    border: solid #325C6C;
    width: 220px;
    background-color: #6A9A9E;
    border-radius: 5px;
}

.pIndex{
    font-weight: bold;
    font-size: 18px;
}

.btn17{
    margin: 5px;
    width: 100px;
    margin-left: 60px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: #325C6C;
}

.btn17:hover{
    background-color: #6A9A9E;
}
.pIndex2{
    font-size: 18px;
    margin-left: 30px;
    color: #4c4e52;
    font-weight: bold;
}